appdirs==1.4.3
atomicwrites==1.3.0
certifi==2019.9.11
chardet==3.0.4
cldfbench==1.0.2
cldfcatalog==1.3.0
clldutils==3.5.0
colorlog==4.1.0
csvw==1.7.0
decorator==4.4.1
idna==2.8
isodate==0.6.0
jdcal==1.4.1
lingpy==2.6.5
Markdown==3.1.1
networkx==2.1
newick==1.0.0
numpy==1.17.3
openpyxl==3.0.0
packaging==19.2
pluggy==0.13.0
purl==1.5
py==1.8.0
pybtex==0.22.2
pycldf==1.12.1
pyclts==2.0.0
pyconcepticon==2.5.1
pycountry==19.8.18
-e git+https://github.com/lexibank/pylexibank@a6df3d6e1a99606e8ca56896b8fc0deb02040614#egg=pylexibank
pytest==5.2.2
regex==2019.8.19
requests==2.22.0
rfc3986==1.3.2
segments==2.1.3
six==1.14.0
SQLAlchemy==1.3.10
tabulate==0.8.6
termcolor==1.1.0
tqdm==4.36.1
uritemplate==3.0.1
urllib3==1.25.6
wcwidth==0.1.7
xlrd==1.2.0
zipp==0.6.0